*{
    margin: 0;
    padding: 0;
}
.cabecalho {
 background-color:#FABBC4;
 color:rgb(255, 255, 255);
 display:flex;
 justify-content: space-around;
}
.cabecalho-imagem{
     width: 10%
}

.cabealho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.studio-imagem{
    width: 40%;
}

.salao{
    background-image: linear-gradient(#FABBC4,#fc8899);
    color:rgb(252, 219, 234) ;
    display:flex;
}